<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Travel</title>
    <link rel="icon" href="resources/img/Logo3.png">
    <link rel="stylesheet" href="resources/css/estilos.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars"  href="/index" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <a href="/">
                <img src="resources/img/Logo3.png" width="50"/>
            </a>
            <h5>Advance Travel</h5>
        </div>

        <div class="options__menu">	

            <a href="/index" class="selected">
                <div class="option">    
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            
            <a href="/adminrutas">
                <div class="option">
                    <i class="fa-solid fa-calendar-days"></i>
                    <h4>Administrar horarios</h4>
                </div>
            </a>

            <a href="/usuarios">
                <div class="option">
                    <i class="fa-solid fa-users" title="usuarios"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            <a href="/perfil">
                <div class="option">    
                    <i class="fa-solid fa-user" title="Perfil"></i>
                    <h4>Perfil</h4>
                </div>
            </a>

            <a href="/logout">
                <div class="option">
                    <i class="fa-solid fa-arrow-right-from-bracket" title="Cerrar sesion" style="background-image: white; "></i>
                    <h4>Cerrar sesion</h4>
                </div>
            </a>

        </div>

    </div>

    <main>
        <H1 align="center">¡ Welcome <%= usuario.name%> !</H1>

        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 19px;" align="justify">
            <br>
            
            Es un gusto para nosotros darte la mas calida bienvenida a <b>Advance Travel </b> en la cual
            encontras todas las herramientas necesarias para poder desempeñar todas tus actividades diarias.

            <br>
            <br>
            Esta plataforma fue especialmente diseñada para tu crecimiento profesional dentro de la compañia.
            <br>
            Sabemos de antemano tus capacidades, por ello estamos seguro que esta
            herramienta sera de gran ayuda para realzar tus actividades diarias.

            <br>
            <br>
        </p>
        <h2 align="center"> 
            <b>
                ¡ GRACIAS POR SER PARTE DE ESTA GRAN FAMILIA !
            </b>
        </h2>
    </main>

    <script src="resources/css/script.js"></script>
</body>
</html>

