<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advance Travel</title>
  <link rel="stylesheet" href="resources/css/barranav.css">
  <link rel="stylesheet" href="resources/css/footer.css">
  <link rel="stylesheet" href="resources/css/inicio.css">
  <link rel="icon" href="resources/img/Logo3.png">
</head>

<body>
  <nav>
    <div id="nav-container">
      <a href="/">
        <img id="nav-logo" src="resources/img/Logo3.png" alt="" width="30" height="24">
      </a>

      <div class="nav-right">
        <a class="nav-botton" href="/">
          <span id="actual-page">
            Inicio
          </span>
        </a>
        <a class="nav-botton" href="/rutas">
          Rutas
        </a>
        <a class="nav-botton" href="/signin">
          Log In
        </a>
      </div>
    </div>
  </nav>

  <div class="carousel">
    <div class="carousel__item" id="carousel_1">
      <h2 class="title_carousel">Los Mejores viajes</h2>
    </div>
    <div class="carousel__item" id="carousel_2">
      <h2 class="title_carousel">Cartagena</h2>
    </div>
    <div class="carousel__item" id="carousel_3">
      <h2 class="title_carousel">Medellin</h2>
    </div>
  </div>
  <script src="resources/css/inicio.js"></script>

  <div id="container-offer">
    <h3 id="title_offers">¡OFERTAS ESPECIALES!</h3>
    <div id="div_provicional">
      <a href="/Medellin">
        <div class="offer">
          <img class="img_offer" src="resources/img/medellin.png" alt="">
          <p class="p-offer">100.000 COP</p>
          <h4 class="subtitle_offer">Medellin</h4>
        </div>
      </a>
      <a href="/Cartagena">
        <div class="offer">
          <img class="img_offer" src="resources/img/cartagena.png" alt="">
          <p class="p-offer">100.000 COP</p>
          <h4 class="subtitle_offer">Cartagena</h4>
        </div>
      </a>
      <a href="/Cali">
        <div class="offer">
          <img class="img_offer" src="resources/img/cali.jpg" alt="">
          <p class="p-offer">100.000 COP</p>
          <h4 class="subtitle_offer">Calí</h4>
        </div>
      </a>
      <a href="/Barranquilla">
        <div class="offer">
          <img class="img_offer" src="resources/img/barranquilla.jpg" alt="">
          <p class="p-offer">100.000 COP</p>
          <h4 class="subtitle_offer">Barranquilla</h4>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>


  <div id="container">
    <div>
      <div class="form-inicio">
        <form action="">
          <select name="origen">
            <option value="">Origen</option>
            <option value="">Medellin</option>
            <option value="">Cartagena</option>
            <option value="">Cali</option>
            <option value="">Barranquilla</option>
          </select>
          <br>
          <select name="destino">
            <option value="">Destino</option>
            <option value="">Medellin</option>
            <option value="">Cartagena</option>
            <option value="">Cali</option>
            <option value="">Barranquilla</option>
          </select> <br>
          <input type="submit" value="Enviar">
        </form>
      </div>

      <div class="text-inicio">
        <h3 id="title-text-inicio">
          ¡LOS MEJORES VIAJES AL MEJOR PRECIO!
        </h3>
        <P id="paragraph-text-inicio">
          Enim amet consectetur quis ipsum nostrud labore velit consequat non ipsum adipisicing mollit. Ex enim commodo
          deserunt exercitation nulla. Magna voluptate cillum ea irure reprehenderit occaecat velit cupidatat in sit
          nisi
          proident qui. Consequat id veniam ipsum nulla commodo nostrud irure laborum irure laboris aliquip amet ullamco
          irure. Non quis sint est consequat consectetur occaecat qui ipsum veniam dolore quis deserunt. Aliquip laboris
          culpa dolore elit ullamco sit pariatur. Nostrud fugiat amet veniam voluptate mollit pariatur voluptate dolore
          occaecat sit.
        </P>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <footer>
    <seccion id="seccion1">
      <img src="resources/img/Logo3.png" alt="Logo">
      <p>
        Buses S.A. Empresa de servico de transporte de buces desde hace muchos años.
      </p>
      <p>
        Vigilado Super intendencia de transporte y el gobierno ncional.
      </p>
      <ul id="ul-footer">
        <li class="li-footer"><a
            href="https://www.facebook.com/Advance-Travel-105207552205595/photos/?ref=page_internal">
            <img src="resources/img/facebook.png" alt="Logo de facebook" class="icon_social_media">
          </a>
        </li>
        <li class="li-footer">
          <a href="https://www.instagram.com/advancestravel/">
            <img src="resources/img/instagram.png" alt="Logo de Instagram" class="icon_social_media">
          </a>
        </li>
        <li class="li-footer">
          <a href="https://twitter.com/ESNEIDERGUZMA11">
            <img src="resources/img/twitter.png" alt="Logo de twitter" class="icon_social_media">
          </a>
        </li>
      </ul>
    </seccion>
    <seccion id="seccion2">
      <h3 class="footer_title"><b>Contacto</b></h3>
      <p>Atencion al cliente: <br>
        655332773 <br>
        3008666628 - 3118948832 <br>
        atencionbuses@buses.com <br>
      </p>
      <p>
        Contacto negocios: <br>
        848999390 <br>
        311777788 - 317784888888 <br>
        negociosbusesas@buses.com
      </p>
    </seccion>
    <seccion id="seccion3">
      <h3 class="footer_title"><b>Donde estamos</b></h3>
      <p>Colombia - Cartagena. <br>
        Transersal 99 - Avenida Sherman <br>
        Wallaby 72 <br>
      </p>
      <p>
        Colombia - Bogota.
        Cra.#78-34 San Fernando - 31 <br>
      </p>
      <p>
        Colombia - Cali. <br>
        Cra.#81-33 al frente de la casa <br>
        de carlos.
      </p>
    </seccion>
    <seccion id="seccion4">
      <h3 class="footer_title"><b>Redes Sociales</b></h3>
      <p>Facebook: Buses SA <br>
        Intagram: @Buses_SA <br>
        twitter: @Buses_SA
      </p>
    </seccion>
    <div class="clearfix"></div>
    <center>
      <div id="ultimo">
        <p id="pe">
          Buses 2022
          <img id="certificado" src="resources/img/certificacion.png" alt="cerfificasion">
        </p>
      </div>
    </center>
  </footer>
</body>

</html>