<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advance Travel</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="resources/css/barranav.css">
  <link rel="stylesheet" href="resources/css/footer.css">
  <link rel="stylesheet" href="resources/css/rutas.css">
  <link rel="stylesheet" href="resources/css/popup.css">
  <link rel="icon" href="resources/img/Logo3.png">
  <enlace href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600| Open+Sans" rel="hoja de estilo">
  </enlace>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="resources/css/barranav.js" defer></script>
  <script type="text/javascript" src="resources/css/rutas.js" defer></script>

</head>

<body>
  <nav class="navbar">
    <ul>
      <li class="navbar-logo" padding="0" margin="0">
        <a href="/">
          <img id="nav-logo" src="resources/img/Logo3.png" alt="" width="auto" height="58">
        </a>
      </li>

      <li class="navbar-toggle"><i class="fas fa-bars"></i></li>
      <li class="navbar-links" id="inicio_">Inicio</li>
      <li class="navbar-links actual-page" id="rutas_">Rutas</li>
      <li class="navbar-links" id="login_">Log In</li>
    </ul>
  </nav>

  <div id="cuerpo">
    <div id="cuerpo-interno">
      <div>
        <h1 id="titulo1">¡Nuestros destinos!</h1>
      </div>
      <div class="rutas">
        <div class="img-ruta">
          <img src="/resources/img/medellin.png" alt="Medellin">
        </div>
        <div class="descripcion-ruta">
          <h2>Medellin</h2>
          <p>
            Medellín es la capital de la provincia montañosa de Antioquia en Colombia. Es apodada la "Ciudad de la
            eterna primavera" por su clima templado y alberga la famosa Feria de las Flores anual. El moderno Metrocable
            conecta la ciudad con los barrios circundantes.
          </p>
        </div>
        <div class="boton-saber-mas">
          <div class="boton" id="medellin_">
            <p>Saber más</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="rutas">
        <div class="img-ruta">
          <img src="/resources/img/cali.jpg" alt="Cartagena de Indias">
        </div>
        <div class="descripcion-ruta">
          <h2>Cali</h2>
          <p>
            Cali es una ciudad colombiana ubicada en el departamento del Valle del Cauca, al suroeste de Bogotá. Es
            conocida por el baile de la salsa, del que hay muchos clubes en el suburbio de Juanchito. En el barrio más
            antiguo de Cali, la catedral neoclásica de San Pedro alberga pinturas de la Escuela de Quito.
          </p>
        </div>
        <div class="boton-saber-mas">
          <div class="boton" id="cali_">
            <p>Saber más</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="rutas">
        <div class="img-ruta">
          <img src="/resources/img/cartagena.png" alt="Cartagena de Indias">
        </div>
        <div class="descripcion-ruta">
          <h2>Cartagena de Indias</h2>
          <p>
            Cartagena de Indias es una ciudad de Colombia, ubicada en el departamento de Bolívar, en el
            norte de Colombia. Es la capital del departamento de Bolívar con hermosas playas, lugar turistico por
            exelencia.
          </p>
        </div>
        <div class="boton-saber-mas">
          <div class="boton" id="cartagena_">
            <p>Saber más</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="rutas">
        <div class="img-ruta">
          <img src="/resources/img/barranquilla.jpg" alt="Cartagena de Indias">
        </div>
        <div class="descripcion-ruta">
          <h2>Barranquilla</h2>
          <p>
            Barranquilla, es la capital del departamento Atlántico de Colombia y es un desbordante puerto marino,
            bordeado por el río Magdalena. La ciudad es conocida por su enorme Carnaval, que reúne a artistas con
            extravagantes disfraces, carros elaborados y música cumbia.
          </p>
        </div>
        <div class="boton-saber-mas" id="barranquilla_">
          <div class="boton" >
            <p>Saber más</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>

  <footer>
    <seccion id="seccion1">
      <img src="resources/img/Logo3.png" alt="Logo">
      <p>
        Buses S.A. Empresa de servico de transporte de buces desde hace muchos años.
      </p>
      <p>
        Vigilado Super intendencia de transporte y el gobierno ncional.
      </p>
      <ul id="ul-footer">
        <li class="li-footer"><a
            href="https://www.facebook.com/Advance-Travel-105207552205595/photos/?ref=page_internal">
            <img src="resources/img/facebook.png" alt="Logo de facebook" class="icon_social_media">
          </a>
        </li>
        <li class="li-footer">
          <a href="https://www.instagram.com/advancestravel/">
            <img src="resources/img/instagram.png" alt="Logo de Instagram" class="icon_social_media">
          </a>
        </li>
        <li class="li-footer">
          <a href="https://twitter.com/ESNEIDERGUZMA11">
            <img src="resources/img/twitter.png" alt="Logo de twitter" class="icon_social_media">
          </a>
        </li>
      </ul>
    </seccion>
    <seccion id="seccion2">
      <h3 class="footer_title"><b>Contacto</b></h3>
      <p>Atencion al cliente: <br>
        655332773 <br>
        3008666628 - 3118948832 <br>
        atencionbuses@buses.com <br>
      </p>
      <p>
        Contacto negocios: <br>
        848999390 <br>
        311777788 - 317784888888 <br>
        negociosbusesas@buses.com
      </p>
    </seccion>
    <seccion id="seccion3">
      <h3 class="footer_title"><b>Donde estamos</b></h3>
      <p>Colombia - Cartagena. <br>
        Transersal 99 - Avenida Sherman <br>
        Wallaby 72 <br>
      </p>
      <p>
        Colombia - Bogota.
        Cra.#78-34 San Fernando - 31 <br>
      </p>
      <p>
        Colombia - Cali. <br>
        Cra.#81-33 al frente de la casa <br>
        de carlos.
      </p>
    </seccion>
    <seccion id="seccion4">
      <h3 class="footer_title"><b>Redes Sociales</b></h3>
      <p>Facebook: Buses SA <br>
        Intagram: @Buses_SA <br>
        twitter: @Buses_SA
      </p>
    </seccion>
    <div class="clearfix"></div>
    <center>
      <div id="ultimo">
        <p id="pe">
          Buses 2022 &copy;
        </p>
      </div>
    </center>
  </footer>
  <script src="views/popup.js"></script>
</body>

</html>