body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
nav  {
    background-color: rgba(0,74,173,255);
    height: 62px;
    line-height: 62px;
}

#nav-container {
    margin: 0px 70px 0px 70px;
    height: 56px;
    z-index: 0;
}

.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.nav-botton {
    text-decoration: none;
    margin: 0px 15px 0px 15px;
    color: white;
}

#nav-logo {
    padding: 0px 0px 0px 15px;
    height: 60px;
    width: auto;
}

#actual-page {
    padding: 0 0 17px 0;
    border-bottom: 3px solid #ffffff;
}
