body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background: gray;
}
nav  {
    background-color: rgba(0,74,173,255);
    height: 56px;
    line-height: 56px;
}

#nav-container {
    margin: 0px 70px 0px 70px;
    height: 56px;
    z-index: 0;
}

.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.nav-botton {
    text-decoration: none;
    margin: 0px 15px 0px 15px;
    color: white;
}

#nav-logo {
    padding: 0px 0px 0px 15px;
    height: 54px;
    width: auto;
}

#actual-page {
    border-bottom: 3px solid white;
    height: 53px;
    width: 70px;
    float: left;
}
