#cuerpo{
    background: #d8d9d4;
    padding: 0;
    margin: 0;
}

#cuerpo-interno{
    margin: 0 20px 0 20px;
}

#pe{
    margin: 0;
}

#titulo1{
    color:#2c333a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 4px solid #7b7c9b;
    margin-top: 0;
}

#titulo3{
    font-size: 170%;
}

#destino2{
    border: 20px;
    border-radius: 13px;
    background: white;
    orientation: vertical;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    height: 70%;
    width: 70%;
    background-color: #b8ed36;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
    display: inline;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}