footer {
    background-color: rgb(0,74,173);
    padding: 56px 10% 0px 10%;
    color: white;
}
 
#ul-footer {
    padding: 0;
}

#li-footer {
    margin: 0 20px;
}

.li-footer {
    align-items: center;
    display: inline;
    padding: 0px 4px 0px 4px;
    text-decoration: none;
}

.icon_social_media {
    width: 50px;
    height: 50px;
}

#seccion1 {
    text-align: justify;
    font-size: 13px;
    min-height: 100%;
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-right: 25px;
}

#seccion2 {
    text-align: justify;
    font-size: 13px;
    min-height: 100%;
    width: 150  px;
    float: left;
    margin-top: 20px;
    margin-right: 25px;
}
#seccion3 {
    text-align: justify;
    font-size: 13px;
    min-height: 100%;
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-right: 25px;
}
#seccion4 {
    text-align: justify;
    font-size: 13px;
    min-height: 100%;
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-right: 25px;
}

.clearfix {
    clear: both;
}

.footer_title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 3px solid #ffffff;
}

#certificado{
    height: 15px;
    width: auto;
}

#pe{
    margin: 0;
}