.carousel {
    position: relative;
}

.carousel__item {
    height: 300px;
    padding: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;   
}

.carousel__item--selected {
    display: block;
    text-align: center;
    color: white;
    text-shadow: 5px 3px #558ABB;
}

.title_carousel {
    padding: 10vh 0 0 0;
    height: 30px;
}

#carousel_1 {
    background: url(../img/carousel_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel_2 {
    background: url(../img/cartagena.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel_3 {
    background: url(../img/medellin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;

}

.carousel__button {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: rgba(255, 255, 255, 0.9);
}