#cuerpo{
    background: #d8d9d4;
    padding: 0;
    margin: 0;
}

#cuerpo-interno{
    margin: 0 20px 0 20px;
}

#titulo1{
    color:#2c333a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 4px solid #7b7c9b;
    margin-top: 0;
}

#pe{
    margin: 0;
}

#destino1{
    border: 20px;
    border-radius: 13px;
    background: white;
    orientation: horizontal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#img1{
    height: auto;
    width: 100%;
    list-style: none;
}

#contenido{
    font-size: 100%;
}

button{
    height: 40%;
    width: 40%;
    background-color: #b8ed36;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 13px;
    display: inline;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s ease all;
}

button:hover{
    background-color: #4d5b2a;
    color: rgb(255, 255, 255);
}